/* ==== layout === =*/
* {
    box-sizing: border-box;
}
body {
    color: #333;
    font-size: 16px;
}
.sub-inner {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 50px auto;
}
.sub-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}






/* list-page */
.list-content {
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #222;
}
.list-content > li {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
.list-content > li.list-empty {
    grid-template-columns: 1fr;

}
.list-content > li > div {
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-content > li.list-header > div {
   
}
.list-content > li.list-body > div.subject {
    text-align: left;
    justify-content: flex-start;
}

.button-del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #bbb;
    color: #fff;
    border: 0;
}




/* ==== form ==== */
input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
