/* ==== layout === =*/
* {
    box-sizing: border-box;
}
body {
    color: #333;
    font-size: 16px;
}
.sub-inner {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 50px auto;
}
.sub-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}




/* ==== form ==== */
textarea {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
